<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIMBERCREEKS Terms and Condition</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/output.css">
</head>
<body>
    <div>
        <div class="max-w-4xl mx-auto bg-white shadow-lg rounded-lg p-8 mt-10">
            <h1 class="text-2xl font-bold text-blue-700 mb-6">Terms and Conditions of Website Use</h1>
        
            <p class="text-gray-700 mb-4">
              The material provided on the Timbercreeks.com website,
               including the information and any images incorporated in the site, 
               is for your personal private non-commercial use only. You may not modify, 
               republish, post or transmit anything you obtain from this website,
                including anything you download from the site, unless you first obtain our consent. 
                You agree not to engage in systematic retrieval of data or other content from Timbercreeks.com. 
                We request that you not create any kind of hyperlink from any other site to ours unless you first obtain our permission.
            </p>
        
            <p class="text-gray-700 mb-4">
              Due to possible linguistic differences, advertising statements in Spanish may not necessarily reflect the content of the policy written in English.
               In the event of a dispute concerning policy terms, 
              the policy written in English will apply.
            </p>
        
            <p class="text-red-600 font-semibold mb-4">
              It is very important that you read the next two sections carefully.
            </p>
        
            <h2 class="text-xl font-bold text-gray-800 mb-4">Limitation of Liability</h2>
        
            <p class="text-gray-700 mb-4">
            TIMBERCREEKS WILL NOT BE RESPONSIBLE FOR ANY DAMAGES OR INJURIES THAT ACCOMPANY OR RESULT FROM YOUR USE OF ITS SITES. 
              THESE INCLUDE (BUT ARE NOT LIMITED TO) DAMAGES OR INJURY CAUSED BY ANY: (1) USE OF (OR INABILITY TO USE) THE SITES;
               (2) USE OF (OR INABILITY TO USE) ANY SITE TO WHICH YOU HYPERLINK FROM ITS WEBSITES; (3) FAILURE OF PERFORMANCE; 
               (4) ERROR; (5) OMISSION; (6) INTERRUPTION; (7) DEFECT; (8) DELAY IN OPERATION OR TRANSMISSION; (9)
                COMPUTER VIRUS; OR (10) LINE FAILURE. WE ARE NOT LIABLE FOR ANY CONSEQUENTIAL OR INCIDENTAL DAMAGES, 
                WHICH ARE DAMAGES INTENDED TO COMPENSATE SOMEONE DIRECTLY FOR A LOSS OR INJURY, 
                DAMAGES REASONABLY EXPECTED TO RESULT FROM A LOSS OR INJURY, 
                OR OTHER MISCELLANEOUS DAMAGES AND EXPENSES RESULTING DIRECTLY FROM A LOSS OR INJURY. FURTHERMORE, 
                EXCEPT AS PROVIDED BELOW, WE ARE NOT LIABLE EVEN IF WE HAVE BEEN NEGLIGENT OR IF OUR AUTHORIZED REPRESENTATIVE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES—OR BOTH.
            </p>
        
            <p class="text-gray-700 mb-4">
              HOWEVER, IN CERTAIN STATES WHERE THE LAW MAY NOT ALLOW US TO LIMIT OR
               EXCLUDE LIABILITY FOR THESE INCIDENTAL OR CONSEQUENTIAL DAMAGES,
                THE ABOVE LIMITATION MAY NOT APPLY AND YOU MAY HAVE THE RIGHT TO RECOVER DAMAGES.
            </p>
          </div>
    </div>
</body>
</html>