<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature</title>
    <link href="../output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div>
        <!-- Features -->
        <div>
            <div class="mt-10">
                <section class="py-4 px-4">
                    <h2 class="font-bold text-2xl sm:text-3xl md:text-3xl lg:text-3xl mt-6 text-center sm:text-left">
                        See Why People Switch to TimberCreeks
                    </h2>
                    <div class="flex flex-col sm:flex-row justify-center text-center space-y-6 sm:space-y-0 sm:space-x-8 mt-8 animate-fadeIn ml-0 sm:ml-6">
                        <div class="border-r-0 sm:border-r-2 pr-0 sm:pr-14 flex justify-center sm:block">
                            <div class="hover:scale-110 transition transform mt-5 sm:mr-5">
                                <h3 class="text-4xl font-bold">85+</h3>
                                <p>Years of Experience</p>
                            </div>
                        </div>
        
                        <div class="border-r-0 sm:border-r-2 pr-0 sm:pr-14 flex justify-center sm:block">
                            <div class="transition transform hover:scale-110 sm:ml-8 mt-5">
                                <h3 class="text-4xl font-bold">$900+</h3>
                                <p>Average Annual Savings*</p>
                            </div>
                        </div>
        
                        <div class="flex justify-center sm:block">
                            <div class="transition transform hover:scale-110 sm:ml-10 mt-5">
                                <h3 class="text-4xl font-bold">97%</h3>
                                <p>Customer Satisfaction Rating*</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
        <div>
            <div class="flex lg:flex-row bg-gray-900 justify-around py-6 text-center lg:text-left mt-10">
                <div class="flex p-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-white mr-3">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                      </svg>
                    <h1 class=" text-white font-bold">Did you accept the Timbercreeks 
                        <a href="javascript:void(0);" onclick="window.open('/src/component/claims/terms/Cookies.html', '_blank', 'width=500,height=500')" class="text-blue-600 underline hover:no-underline">Cookies </a>
                        and <a href="javascript:void(0);" onclick="window.open('/src/component/claims/terms/Policy.html', '_blank', 'width=500,height=500')"  class="text-blue-600 underline hover:no-underline">Privacy policy</a></h1>
                </div>
            </div>
        </div>
    </div>

</body>

</html>