<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>



<body>
    <div id="navbar"></div>
    <!-- Main Container -->
    <div class="max-w-7xl mx-auto px-6 py-8 ">
        <!-- Page Title -->
        <div class="ml-40 mb-10">
            <h1 class="text-5xl font-bold text-black-500 mb-4">Additional Insurance - Miscellaneous Insurance Options
            </h1>
        </div>
        <div class="ml-40 mb-10">
            <p class="text-xl font-bold text-black-500 mb-4">More than just car insurance. TIMBERCREEKS can help you
                with a
                variety
                of additional insurance such as life, umbrella, travel, overseas, and more. Get a quote for these other
                miscellaneous types of insurance.
            </p>
        </div>
        <!-- Wrapper for centering -->
        <div class="min-h-screen flex items-center justify-center">
            <!-- Main container -->
            <div class="container mx-auto px-6 py-8 w-8/12">
                <!-- Two-column layout -->
                <div class="grid lg:grid-cols-3 gap-8">
                    <!-- Left Column: Policies -->
                    <div class="lg:col-span-2 space-y-12">
                        <!-- jewelry Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons-car-90.png" alt="Jewelry Insurance" class="w-12 h-12">
                                <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-blue-500">
                                    Jewelry Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">Insure your jewelry's true value, including the memories
                                    each
                                    piece represents,
                                    with specialized, comprehensive jewelry insurance. </p>
                                <ul class="list-disc list-inside mb-4">
                                    <li> Coverage designed specifically for your jewelry</li>
                                    <li> Helps protect against, loss, theft, damage, and disappearance</li>
                                    <li> Affordable rates typically costing 1-2% of the value of your jewelry</li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Jewelry
                                    Quote</button>
                            </div>
                        </div>
                        <!-- Identity Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-bike-100.png" alt="Identity Insurance" class="w-12 h-12">
                                <h2 class="text-2xl font-bold pb-2 underline hover:no-underline text-blue-500">
                                    Identity Protection</h2>
                            </div>
                            <div class="ml-16">
                                <p class="mb-4">Get the tools you need to protect your identity
                                    and hands-on assistance should you become a victim of identity theft.</p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Around the clock coverage</li>
                                    <li>Online access to your TransUnion credit report/score</li>
                                    <li>Easy payment plans</li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Quote</button>
                            </div>
                        </div>
                        <!-- Life Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-buildings-96.png" alt="Life Insurance" class="w-12 h-12">
                                <h2 class="text-2xl font-bold pb-2 underline hover:no-underline text-blue-500">Life
                                    Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">Does your family rely on your income? Could they easily
                                    pay
                                    the bills in the event you passed away?
                                    Ensure your family and loved ones are cared for with life insurance.
                                </p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Provide financial relief</li>
                                    <li>Get the peace-of-mind of financial security</li>
                                    <li>Set up flexible payment plans</li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Life
                                    Quote</button>
                            </div>
                        </div>
                        <!-- Travel Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/home-insurance-icon.png" alt="Travel Insurance" class="w-12 h-12">
                                <h2 class="text-2xl font-bold pb-2 underline hover:no-underline text-blue-500">Travel
                                    Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">
                                    Planning a vacation or business trip?
                                    Did you know you can insure your flight or even the cost of the entire trip?
                                    Help protect your travel plans with travel insurance.
                                </p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Affordable plans designed for you</li>
                                    <li>Last-minute cancellation coverage</li>
                                    <li>24/7/365 worldwide emergency travel assistance</li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Travel
                                    Quote</button>
                            </div>
                        </div>
                        <!-- overseas Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-boat-90.png" alt="overseas Insurance" class="w-12 h-12">
                                <h2 class="text-2xl font-bold pb-2 underline hover:no-underline text-blue-500">Overseas
                                    Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">Going overseas? Get the same low rates and high-quality
                                    customer service overseas that you get in the U.S.
                                    with TIMBERCREEKS Financial Services, GmbH (a TIMBERCREEKS affiliate).
                                </p>
                                <ul class="list-disc list-inside  mb-4">
                                    <li>Providing overseas insurance since 1960</li>
                                    <li>Local agents available to help you</li>
                                    <li>Help with documents needed to ship your vehicle</li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Overseas
                                    Quote</button>
                            </div>
                        </div>
                        <!-- Pet Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons-car-90.png" alt="pet Insurance" class="w-12 h-12">
                                <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-blue-500">
                                    Pet Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">Each day is an adventure with your cats and dogs,
                                    but paying your vet bills doesn't have to be. Make sure you're covered for the
                                    unexpected with pet insurance.
                                </p>
                                <ul class="list-disc list-inside mb-4">
                                    <li> Comprehensive coverage for most accidents or illnesses (that are not
                                        pre-existing)
                                    </li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Pet
                                    Quote</button>
                            </div>
                        </div>
                        <!-- Mobile Device Protection Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-bike-100.png" alt="Mobile Device Protection Insurance"
                                    class="w-12 h-12">
                                <h2 class="text-2xl font-bold pb-2 underline hover:no-underline text-blue-500">
                                    Mobile Device Protection</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">Save hundreds of dollars on phone
                                    repairs and replacements with affordable mobile device protection offered through
                                    TIMBERCREEKS
                                    Insurance Agency.</p>
                                <p>Device coverage includes:</p>
                                <ul class="list-disc list-inside  mb-4">
                                    <li>Screen cracks</li>
                                    <li>Water damage</li>
                                    <li>Battery issues</li>
                                    <li>Mechanical failure</li>
                                    <li>Touch screen issues</li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Mobile Device Protection
                                    Quote</button>
                            </div>
                        </div>
                        <!-- Umberlla Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-buildings-96.png" alt="Umbrella Insurance"
                                    class="w-12 h-12">
                                <h2 class="text-2xl font-bold  pb-2 underline hover:no-underline text-blue-500">Umbrella
                                    Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class="mb-4">
                                    Umbrella Insurance
                                    Insurance is all about preparing for the unexpected. With umbrella insurance,
                                    you can rest a little easier knowing you have additional coverage if you need it.
                                </p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Helps protect you for legal lawsuits and slander</li>
                                    <li>Coverage for you and your spouse</li>
                                    <li>Additional $1 million* in coverage</li>
                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Umberlla
                                    Quote</button>
                            </div>
                        </div>
                        <!-- Special Event Insurance -->
                        <div class="border-b pb-10">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/home-insurance-icon.png" alt="Special Event Insurance"
                                    class="w-12 h-12">
                                <h2 class="text-2xl font-bold  pb-2 underline hover:no-underline text-blue-500">Special
                                    Event Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">Planning a wedding, anniversary, or baby shower?
                                    Protect your special event with affordable event insurance.
                                </p>
                                <p>Comprehensive protection for:</p>
                                <ul class="list-disc list-inside  mb-4">
                                    <li>Non-refundable deposits</li>
                                    <li>Cancellation fees</li>
                                    <li>Injury</li>
                                    <li>Liability, and more</li>
                                </ul>
                            </div>

                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Event
                                    Quote</button>
                            </div>

                        </div>
                        <!-- Bicycle Insurance  -->
                        <div>
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-boat-90.png" alt="
                                Bicycle Insurance" class="w-12 h-12">
                                <h2 class="text-2xl font-bold pb-2 underline hover:no-underline text-blue-500">Bicycle
                                    Insurance</h2>
                            </div>
                            <div class="ml-16">
                                <p class=" mb-4">Bicycle insurance is specialized coverage to
                                    help protect
                                    you and your bike from any instances of damage, theft, or liability if they were to
                                    occur.
                                </p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Bicycle insurance is a great way to ensure that you and your bike or e-bike are
                                        protected from the unexpected.</li>
                                    <li>Policies offer a wide variety of coverage, with customizable polices starting at
                                        just $100 per year.</li>

                                </ul>
                            </div>
                            <div class="flex justify-end">
                                <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 w-fit">Start
                                    Bicycle
                                    Quote</button>
                            </div>

                        </div>
                    </div>
                    <!-- Right Column: Contact Us -->
                    <div class="space-y-8">
                        <div>
                            <h2 class="text-2xl font-bold mb-2 border-b pb-2 text-black-500">Contact Us</h2>
                            <p class="text-gray-600 mt-4">We’re here for you 24 hours a day, 7 days a week. The quickest
                                way to contact us is through our app or call our hotline for immediate help.</p>
                        </div>
                        <div>
                            <h2 class="text-2xl font-bold mb-2 border-b pb-2 text-black-500">Learn More</h2>
                            <ul class="list-disc list-inside text-gray-600">
                                <li><a href="#" class="text-blue-500 hover:underline">Property Insurance <span
                                            class="inline-block ml-2">:link:</span></a></li>
                                <li><a href="#" class="text-blue-500 hover:underline">Business Insurance <span
                                            class="inline-block ml-2">:link:</span></a></li>
                                <li><a href="#" class="text-blue-500 hover:underline">Additional Insurance <span
                                            class="inline-block ml-2">:link:</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="p-4  flex justify-center">
            <figure class="md:flex max-w-5xl bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
                <div class="pt-5 md:p-8 text-center md:text-left space-y-4">
                    <blockquote>
                        <p class="text-base dark:text-slate-100">Please note:</p>
                        <p class="text-sm dark:text-slate-100">
                            The above is meant as general information and as general policy
                            descriptions to help you understand the different types of coverages.
                            These descriptions do not refer to any specific contract of insurance and
                            they do not modify any definitions, exclusions or any other provision expressly
                            stated in any contracts of insurance. We encourage you to speak to your insurance
                            representative and to read your policy contract to fully understand your coverages.
                        </p>
                    </blockquote>
                </div>
            </figure>
        </div>
    </div>

    <div>
        <div class="p-4 flex justify-center">
            <figure class="md:flex max-w-5xl bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
                <div class="pt-5 md:p-8 text-center md:text-left space-y-4">
                    <blockquote>
                        <p class="text-sm dark:text-slate-100">
                            Life, travel, identity theft, pet, and jewelry coverages are written through affiliated
                            and non-affiliated insurance companies and are secured through the TIMBERCREEKS Insurance
                            Agency,
                            LLC; ExactCare travel coverage is provided through Berkshire Hathaway Global Insurance
                            Services, LLC, a TIMBERCREEKS affiliate. Overseas coverages provided by non-affiliated
                            insurance
                            companies through TIMBERCREEKS Financial Services, GmbH, a TIMBERCREEKS affiliate,
                            representing Mirascon
                            Versicherungsagentur GMBH.
                        </p>
                        <p class="text-sm dark:text-slate-100 mt-2">
                            *Other policy limits are also available.</p>
                    </blockquote>
                </div>
            </figure>
        </div>
    </div>
    <div id="footer"></div>

    <script>
        function loadHTML(id, file) {
            fetch(file)
                .then(response => {
                    if (!response.ok) throw new Error(`Failed to load ${file}`);
                    return response.text();
                })
                .then(data => {
                    document.getElementById(id).innerHTML = data;

                    // Execute any scripts inside the loaded HTML
                    const scripts = document.getElementById(id).getElementsByTagName('script');
                    for (let script of scripts) {
                        const newScript = document.createElement('script');
                        if (script.src) {
                            newScript.src = script.src;
                        } else {
                            newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                    }
                })
                .catch(error => console.error(error));
        }


        loadHTML("navbar", "/src/component/Navbar.html");
        loadHTML("footer", "/src/component/Footer.html");


    </script>
</body>

</html>