<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/styles/styles.css" />
    <script defer src="https://unpkg.com/alpinejs@3.2.3/dist/cdn.min.js"></script>
</head>

<body>
    <div id="navbar"></div>

    <div class="bg-slate-400">
        <div class="flex justify-center items-center w-9/12 px-6  ml-40">
            <div class="sm:w-1/2 p-10">
                <div class="text">
                    <span class="text-3xl uppercase">Business Insurance</span>
                    <p class="text-gray-700 pt-6">
                        Business insurance, also known as commercial insurance, can help protect your business
                        from unexpected expenses related to property damage, legal liability, workers' compensation, and
                        more.
                        Whether you are just starting out and shopping for a small business insurance or just looking
                        for
                        better
                        rates or coverage, having the right insurance policy can make all the difference when you really
                        need it.
                        Help protect your business against financial risk with a business insurance policy that's right
                        for
                        you.
                    </p>
                    <div class="mt-2 mb-4">
                        <a href="#BusinessInsurancePolicies">
                            <button type="button"
                                class="text-white bg-amber-500  focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-xl px-8 py-2 text-center me-2 mb-2">
                                View Our Business Insurance Model
                            </button>
                        </a>
                    </div>


                    <span class="text-2xl uppercase">Business Insurance Calculator</span>
                    <p class="text-gray-700 pt-4">
                        Getting business insurance can be tricky, but TIMBERCREEKS is here to help.
                        Just answer a few short questions about your business and its insurance
                        needs so we can help find the best policy or policies for you. Or,
                        if you already know what you need, browse our entire line of business insurance policies.
                    </p>
                </div>
            </div>
            <div class="sm:w-1/2 p-5">
                <div class="text">
                    <span class="text-gray-500 border-b-2 text-3xl border-indigo-600 uppercase">Contact Us</span>
                    <h2 class="my-4 font-bold text-3xl  sm:text-4xl ">Contact <span class="text-indigo-600">Our
                            Company</span>
                    </h2>
                    <p class="text-gray-700">
                        We’re here for you 24 hours a day, 7 days a week. The quickest
                        way to contact us is through our app or call our hotline for immediate help.
                    </p>

                    <div class="flex px-3 py-3">
                        <div class="max-w-sm bg-slate-300 overflow-hidden rounded-lg shadow-lg">
                            <div class="px-6 py-4">
                                <div class="font-bold text-xl mb-2">Please note:</div>
                                <p class="text-gray-700 text-base">
                                    Select option 2 to start. Followed by option 2 for new quotes,
                                    option 5 for all other products, and 3 for Commercial policies.
                                </p>
                                <div class="font-bold text-xl mb-2">Colorado residents:</div>
                                <p class="text-gray-700 text-base">
                                    Select option 1 to start. Followed by option 2 for new quotes,
                                    option 5 for all other products, and 3 for Commercial policies.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="BusinessInsurancePolicies">
        <div class="justify-center items-center w-9/12 px-6  ml-40">
            <div class="p-10">
                <div class="text">
                    <span class="text-3xl font-bold uppercase">Business Insurance Policies</span>
                    <p class="text-gray-700 pt-6">
                        Business insurance can vary depending on the type of business and who it serves.
                        TIMBERCREEKS offers business insurance coverage for almost any business, including liability
                        coverage, commercial vehicle insurance, and even cyber liability insurance.
                        Browse our selection below to get more information about the business insurance that's right for
                        you!
                    </p>
                </div>
            </div>
            <div class="border-b pb-10 ml-10 mt-4">
                <div class="flex items-center space-x-4 mb-4">
                    <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-amber-500">
                        Business Owners Policy (BOP)</h2>
                </div>
                <div class="">
                    <p class="mb-4">Two coverages you need, combined in a single policy.
                        See why businesses trust TIMBERCREEKS to help them with their business insurance needs with coverage
                        for: </p>
                    <ul class="list-disc list-inside mb-4">
                        <li> Bodily injury or property damage</li>
                        <li> Helps protect against, loss, theft, damage, and disappearance</li>
                        <li> Affordable rates typically costing 1-2% of the value of your jewelry</li>
                    </ul>
                </div>
                <div class="flex">
                    <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl w-fit">Start
                        Quote</button>
                </div>
            </div>

            <div class="border-b pb-10 ml-10 mt-4">
                <div class="flex items-center space-x-4 mb-4">
                    <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-amber-500">
                        General Liability Insurance/CGL</h2>
                </div>
                <div class="">
                    <p class="mb-4">CGL can help cover your business while performing normal operations. Coverages
                        include:</p>
                    <ul class="list-disc list-inside mb-4">
                        <li> Physical injury liability</li>
                        <li> Property damage liability</li>
                        <li> Lawsuits costs for covered losses</li>
                    </ul>
                </div>
                <div class="flex">
                    <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl w-fit">Start
                        Quote</button>
                </div>
            </div>

            <div class="border-b pb-10 ml-10 mt-4">
                <div class="flex items-center space-x-4 mb-4">
                    <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-amber-500">
                        Professional Liability Insurance</h2>
                </div>
                <div class="">
                    <p class="mb-4">From Personal Trainers to IT Consultants, you need Professional Liability Insurance
                        (PL),
                        also called Errors & Omissions (E&O) insurance. This coverage protects you for: </p>
                    <ul class="list-disc list-inside mb-4">
                        <li> Mistakes or advice your company makes in business</li>
                        <li> Legal defense costs</li>
                        <li> Services completed</li>
                    </ul>
                </div>
                <div class="flex">
                    <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl w-fit">Start
                        Quote</button>
                </div>
            </div>

            <div class="border-b pb-10 ml-10 mt-4">
                <div class="flex items-center space-x-4 mb-4">
                    <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-amber-500">
                        Workers' Compensation</h2>
                </div>
                <div class="">
                    <p class="mb-4">This coverage is mandatory if your business has employees. Workers'
                        comp covers a business' employees if they're injured at work. In general, policies cover: </p>
                    <ul class="list-disc list-inside mb-4">
                        <li> Lost wages</li>
                        <li> Medical expenses</li>
                        <li> Rehabilitation expenses</li>
                    </ul>
                </div>
                <div class="flex">
                    <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl w-fit">Start
                        Quote</button>
                </div>
            </div>

            <div class="border-b pb-10 ml-10 mt-4">
                <div class="flex items-center space-x-4 mb-4">
                    <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-amber-500">
                        Medical Malpractice Insurance</h2>
                </div>
                <div class="">
                    <p class="mb-4">Quick, easy, comprehensive coverage for groups and individuals working as Nurse
                        Practitioners, Physician Assistants, Nurse Anesthetists (CRNAs), Registered Nurses,
                        Optometrists, Physical Therapists,
                        Yoga Instructors, Personal Trainers, Nursing Students, and other medical professionals. What's
                        included: </p>
                    <ul class="list-disc list-inside mb-4">
                        <li> Protection against claims of negligence</li>
                        <li> Defense counsel costs</li>
                        <li> Professional reputation coverage</li>
                    </ul>
                </div>
                <div class="flex">
                    <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl w-fit">Start
                        Quote</button>
                </div>
            </div>

            <div class="border-b pb-10 ml-10 mt-4">
                <div class="flex items-center space-x-4 mb-4">
                    <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-amber-500">
                        Commercial Auto Insurance</h2>
                </div>
                <div class="">
                    <p class="mb-4">If the driver of a vehicle uses it for their job, work, or business,
                        you need a commercial policy. You may need commercial coverage if: </p>
                    <ul class="list-disc list-inside mb-4">
                        <li> The vehicle is used to transport goods or people</li>
                        <li> The vehicle is used to perform a service</li>
                        <li> Employees drive the vehicle</li>
                    </ul>
                </div>
                <div class="flex">
                    <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl w-fit">Start
                        Quote</button>
                </div>
            </div>

            <div class="pb-10 ml-10 mt-4">
                <div class="flex items-center space-x-4 mb-4">
                    <h2 class="text-2xl font-bold underline hover:no-underline pb-2 text-amber-500">
                        Cyber Liability Insurance</h2>
                </div>
                <div class="">
                    <p class="mb-4">Protects businesses from computer-related attacks, such as malware, phishing,
                        ransomware or if a laptop with confidential information on it is stolen. To quote, call </p>
                </div>
                <div class="flex">
                    <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl w-fit">Start
                        Quote</button>
                </div>
            </div>
        </div>
    </div>

    <div class="justify-center items-center w-9/12 px-6  ml-40 ">
        <div class="p-10">
            <div class="text border-b-2 pb-4">
                <span class="text-3xl font-bold uppercase">Business Insurance FAQs</span>
            </div>
            <div class="mt-4">
                <ul class="flex flex-col">
                    <li class="bg-white my-2 shadow-lg" x-data="accordion(1)">
                        <h2 @click="handleClick()"
                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                            <span>Why do I need business insurance?</span>
                            <svg :class="handleRotate()"
                                class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
                                viewBox="0 0 20 20">
                                <path
                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                </path>
                            </svg>
                        </h2>
                        <div x-ref="tab" :style="handleToggle()"
                            class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all">
                            <p class="p-3 text-gray-900">
                                Business insurance covers the costs of property damage and liability claims. Without
                                business insurance,
                                you could pay exorbitant out-of-pocket costs for damages or claims against your
                                enterprise.
                            </p>
                        </div>
                    </li>

                    <li class="bg-white my-2 shadow-lg" x-data="accordion(2)">
                        <h2 @click="handleClick()"
                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                            <span>What does business insurance cover?</span>
                            <svg :class="handleRotate()"
                                class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
                                viewBox="0 0 20 20">
                                <path
                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                </path>
                            </svg>
                        </h2>
                        <div class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
                            x-ref="tab" :style="handleToggle()">
                            <p class="p-3 text-gray-900">
                                Business insurance comes in many forms. What your commercial insurance policy covers
                                will depend on the type of business you own and the coverage you choose. Generally,
                                business insurance is designed
                                to cover bodily injury or medical expenses, libel, slander, defending lawsuits, and
                                settlements from court claims.
                            </p>

                            <p class="p-3  mt-4 mb-2">Learn more about <a href="" class=" text-blue-600 underline hover:no-underline">what business insurance covers</a></p>
                        </div>
                    </li>

                    <li class="bg-white my-2 shadow-lg" x-data="accordion(3)">
                        <h2 @click="handleClick()"
                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                            <span>What kind of business insurance do I need?</span>
                            <svg :class="handleRotate()"
                                class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
                                viewBox="0 0 20 20">
                                <path
                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                </path>
                            </svg>
                        </h2>
                        <div class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
                            x-ref="tab" :style="handleToggle()">
                            <p class="p-3 text-gray-900">
                                General liability insurance is typically a good idea for most businesses.
                                If you have a company car, <a href="" class=" text-blue-600 underline hover:no-underline">commercial auto insurance</a> is a necessity.
                            </p>
                        </div>
                    </li>

                    <li class="bg-white my-2 shadow-lg" x-data="accordion(4)">
                        <h2 @click="handleClick()"
                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                            <span>What is business insurance?</span>
                            <svg :class="handleRotate()"
                                class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
                                viewBox="0 0 20 20">
                                <path
                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                </path>
                            </svg>
                        </h2>
                        <div class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
                            x-ref="tab" :style="handleToggle()">
                            <p class="p-3 text-gray-900">
                                Business insurance is a type of coverage that protects businesses from financial
                                losses due to unexpected events, liabilities, or risks. It consists of a range of
                                policies tailored to meet diverse business needs, including general liability, property,
                                professional liability, and workers' compensation insurance. The primary goal of
                                business
                                insurance is to safeguard assets,
                                ensure financial stability, and mitigate risks inherent in business operations.
                            </p>
                        </div>
                    </li>

                    <li class="bg-white my-2 shadow-lg" x-data="accordion(5)">
                        <h2 @click="handleClick()"
                            class="flex flex-row justify-between items-center font-semibold p-3 cursor-pointer">
                            <span>How much is business insurance?</span>
                            <svg :class="handleRotate()"
                                class="fill-current text-purple-700 h-6 w-6 transform transition-transform duration-500"
                                viewBox="0 0 20 20">
                                <path
                                    d="M13.962,8.885l-3.736,3.739c-0.086,0.086-0.201,0.13-0.314,0.13S9.686,12.71,9.6,12.624l-3.562-3.56C5.863,8.892,5.863,8.611,6.036,8.438c0.175-0.173,0.454-0.173,0.626,0l3.25,3.247l3.426-3.424c0.173-0.172,0.451-0.172,0.624,0C14.137,8.434,14.137,8.712,13.962,8.885 M18.406,10c0,4.644-3.763,8.406-8.406,8.406S1.594,14.644,1.594,10S5.356,1.594,10,1.594S18.406,5.356,18.406,10 M17.521,10c0-4.148-3.373-7.521-7.521-7.521c-4.148,0-7.521,3.374-7.521,7.521c0,4.147,3.374,7.521,7.521,7.521C14.148,17.521,17.521,14.147,17.521,10">
                                </path>
                            </svg>
                        </h2>
                        <div class="border-l-2 border-purple-600 overflow-hidden max-h-0 duration-500 transition-all"
                            x-ref="tab" :style="handleToggle()">
                            <p class="p-3 text-gray-900">
                                The cost of business insurance varies depending on several factors,
                                including the size and type of the business, its location, industry,
                                annual revenue, number of employees, coverage limits, and risk factors associated with
                                its operations.
                                Small businesses generally pay between hundreds and thousands of dollars annually for
                                coverage,
                                while large enterprises may face much higher premiums due to their increased exposure to
                                risks and greater
                                financial stakes. Businesses should obtain quotes from multiple
                                insurance providers to compare prices and ensure they're getting the coverage they need
                                at a competitive rate.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footer"></div>
    <script>
        function loadHTML(id, file) {
            fetch(file)
                .then(response => {
                    if (!response.ok) throw new Error(`Failed to load ${file}`);
                    return response.text();
                })
                .then(data => {
                    document.getElementById(id).innerHTML = data;

                    // Execute any scripts inside the loaded HTML
                    const scripts = document.getElementById(id).getElementsByTagName('script');
                    for (let script of scripts) {
                        const newScript = document.createElement('script');
                        if (script.src) {
                            newScript.src = script.src;
                        } else {
                            newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                    }
                })
                .catch(error => console.error(error));
        }


        loadHTML("navbar", "/src/component/Navbar.html");
        loadHTML("footer", "/src/component/Footer.html");



        document.addEventListener('alpine:init', () => {
            Alpine.store('accordion', {
                tab: 0
            });

            Alpine.data('accordion', (idx) => ({
                init() {
                    this.idx = idx;
                },
                idx: -1,
                handleClick() {
                    this.$store.accordion.tab = this.$store.accordion.tab === this.idx ? 0 : this.idx;
                },
                handleRotate() {
                    return this.$store.accordion.tab === this.idx ? 'rotate-180' : '';
                },
                handleToggle() {
                    return this.$store.accordion.tab === this.idx ? `max-height: ${this.$refs.tab.scrollHeight}px` : '';
                }
            }));
        })
    </script>
</body>

</html>