<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Insurance Policies</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">
    <div id="navbar"></div>
    <!-- Main Container -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 py-8">
        <!-- Page Title -->
        <div class="mb-10 text-center md:text-left">
            <h1 class="text-4xl md:text-5xl font-bold text-black-500 mb-4">Types Of Property Insurance For Your Home</h1>
        </div>
    
        <!-- Wrapper for centering -->
        <div class="min-h-screen flex flex-col lg:flex-row items-center lg:items-start justify-center">
            <!-- Main container -->
            <div class="container mx-auto px-4 sm:px-6 py-8 w-full lg:w-8/12">
                <!-- Two-column layout -->
                <div class="grid lg:grid-cols-3 gap-10">
                    <!-- Left Column: Policies -->
                    <div class="lg:col-span-2 space-y-6">
                        <div class="mb-10 text-center md:text-left">
                            <p class="text-lg md:text-2xl font-bold text-black-500 mb-4">What is property insurance?</p>
                            <p class="text-lg md:text-xl  text-black-500 mb-4">
                                Property insurance is a type of insurance policy that can provide coverage for property owners or renters.
                                 Examples of property insurance include homeowners, renters, and flood insurance policies. 
                                 These policies can provide coverage for damages caused by fire, flooding, theft, weather, and other risks.
                            </p>
                            <p class="text-lg md:text-xl text-black-500 mb-4">
                                Let TIMBERCREEKS help protect where you live and what you own with our different types of property insurance.
                                 Get a property insurance quote for your home, apartment, and more. TIMBERCREEKS also 
                                makes managing your policy easy with online access. You can make changes, request documents, and make payments.</p>
                        </div>
                        <!-- Insurance Cards -->
                        <div class="border-b pb-6">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons-car-90.png" alt="Homeowners Insurance" class="w-12 h-12">
                                <h2 class="text-xl md:text-2xl font-bold underline hover:no-underline text-blue-500">Homeowners Insurance</h2>
                            </div>
                            <div class="ml-4 sm:ml-16">
                                <p class="mb-4">Your home is often one of your largest investments. Make sure you're covered for the unexpected. Homeowners insurance covers more than just the house itself.
                                     The right coverage can help you replace items that you couldn't easily afford to replace otherwise. Check out just a few things you can expect when you insure your home through the TIMBERCREEKS Insurance Agency:</p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Coverage for items like furniture, appliances, clothing, and more</li>
                                    <li>Discounts for things you already have like smoke alarms</li>
                                    <li>Prompt and professional customer service</li>
                                </ul>
                                <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl">Start Quote</button>
                            </div>
                        </div>
    
                        <div class="border-b pb-6">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-bike-100.png" alt="Renters Insurance" class="w-12 h-12">
                                <h2 class="text-xl md:text-2xl font-bold underline hover:no-underline text-blue-500">Renters Insurance</h2>
                            </div>
                            <div class="ml-4 sm:ml-16">
                                <p class="mb-4">
                                    Did you know that when you rent your home, your belongings aren't covered by your landlord's policy? A renters insurance policy is an affordable way to ensure the things you work so hard for are protected.</p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Get coverage for your furniture, electronics, appliances, and other personal belongings</li>
                                    <li>Use our personal property calculator to help see the coverage you may need</li>
                                    <li>Multi-Policy Discount: you could qualify for discounts on your TIMBERCREEKS Auto policy</li>
                                </ul>
                                <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl">Start Renters Quote</button>
                            </div>
                        </div>
    
                        <!-- insurance types -->
                        <div class="border-b pb-6">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-buildings-96.png" alt="Condo/Co-Op Insurance" class="w-12 h-12">
                                <h2 class="text-xl md:text-2xl font-bold underline hover:no-underline text-blue-500">Condo/Co-Op Insurance</h2>
                            </div>
                            <div class="ml-4 sm:ml-16">
                                <p class="mb-4">While your condo association or co-op corporation has insurance on some things, this insurance doesn't cover your personal items or interior of your unit. Make sure you're covered and see how much you could save through TIMBERCREEKS.</p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Protection for losses such as fire, lightning, theft, and vandalism</li>
                                    <li>Save money for having safety devices like alarm systems or deadbolts</li>
                                    <li>Use our personal property calculator to calculate how much coverage you may need</li>
                                </ul>
                                <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl">Start ATV Quote</button>
                            </div>
                        </div>

                        <div class="border-b pb-6">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons-car-90.png" alt="Mobile Home Insurance" class="w-12 h-12">
                                <h2 class="text-xl md:text-2xl font-bold underline hover:no-underline text-blue-500">Mobile Home Insurance</h2>
                            </div>
                            <div class="ml-4 sm:ml-16">
                                <p class="mb-4">You've worked hard to buy your home and the things you own, so make sure they're protected.
                                     Get affordable mobile or manufactured home coverage with a personalized policy through TIMBERCREEKS Insurance Agency.</p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Coverage for personal belongings and liability</li>
                                    <li>Easy to pay your bill and manage your policy online</li>
                                    <li>Use our personal property calculator to calculate how much coverage you may need</li>
                                </ul>
                                <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl">Start Quote</button>
                            </div>
                        </div>
    
                        <div class="border-b pb-6">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-bike-100.png" alt="Landlord Insurance" class="w-12 h-12">
                                <h2 class="text-xl md:text-2xl font-bold underline hover:no-underline text-blue-500">Landlord Insurance</h2>
                            </div>
                            <div class="ml-4 sm:ml-16">
                                <p class="mb-4">Whether you own multiple rental properties or need to sublet your home for a year, a landlord insurance policy will help you rent your property with confidence.</p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Protection for damage to the residence, including permanent structures</li>
                                    <li>Coverage for single family homes, condos, and townhouses</li>
                                    <li>May cover for loss of rent in the event of a covered claim</li>
                                </ul>
                                <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl">Start Landlord Quote</button>
                            </div>
                        </div>
    
                        <!-- Repeat similar structure for other insurance types -->
                        <div class="border-b pb-6">
                            <div class="flex items-center space-x-4 mb-4">
                                <img src="/src/assets/icons8-buildings-96.png" alt="Flood Insurance" class="w-12 h-12">
                                <h2 class="text-xl md:text-2xl font-bold underline hover:no-underline text-blue-500">
                                    Flood Insurance</h2>
                            </div>
                            <div class="ml-4 sm:ml-16">
                                <p class="mb-4">Whether you're required to purchase flood insurance or looking for more protection, 
                                    TIMBERCREEKS can help you with a flood insurance policy through the National Flood Insurance Program (NFIP).                                </p>
                                <ul class="list-disc list-inside mb-4">
                                    <li>Rates specifically tailored to your area</li>
                                    <li>Use our personal property calculator to calculate how much coverage you may need</li>
                                    <li>Backed by the federal government</li>
                                </ul>
                                <button class="bg-amber-500 text-white py-2 px-4 rounded-3xl">Start ATV Quote</button>
                            </div>
                        </div>

                    </div>
    
                    <!-- Right Column: Contact Us -->
                    <div class="space-y-8">
                        <div>
                            <h2 class="text-xl md:text-2xl font-bold mb-2 border-b pb-2 text-black-500">Contact Us</h2>
                            <p class="text-gray-600 mt-4">We’re here for you 24 hours a day, 7 days a week. The quickest way to contact us is through our app or call our hotline for immediate help.</p>
                        </div>
                        <div>
                            <h2 class="text-xl md:text-2xl font-bold mb-2 border-b pb-2 text-black-500">Learn More</h2>
                            <ul class="list-disc list-inside text-gray-600">
                                <li><a href="#" class="text-blue-500 hover:underline">Property Insurance</a></li>
                                <li><a href="#" class="text-blue-500 hover:underline">Business Insurance</a></li>
                                <li><a href="#" class="text-blue-500 hover:underline">Additional Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="p-4 flex justify-center">
                <figure class="md:flex max-w-5xl bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
                    <div class="pt-5 md:p-8 text-center md:text-left space-y-4">
                        <blockquote>
                            <h1 class="text-sm dark:text-slate-100 mb-4 ">Please note:</h1>
                            <p class="text-xs dark:text-slate-100 mb-4">The above is meant as general information and as general policy 
                                descriptions to help you understand the different types of coverages. These descriptions do not refer to any
                                 specific contract of insurance and they do not modify any definitions, exclusions or any other provision expressly stated in any contracts of insurance. We encourage you to speak to
                                 your insurance representative and to read your policy contract to fully understand your coverages.</p>
                        </blockquote>
                    </div>
                </figure>
            </div>

            <div class="p-4 flex justify-center">
                <figure class="md:flex max-w-5xl bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800">
                    <div class="pt-5 md:p-8 text-center md:text-left space-y-4">
                        <blockquote>
                            <p class="text-xs dark:text-slate-100 mb-4">Homeowners, renters, condo/co-op, and mobile home coverages are written through non-affiliated insurance companies and are secured through the TIMBERCREEKS Insurance Agency,
                                 LLC. The information you provide will be shared with our business partners so that they can return a quote.</p>
                        </blockquote>
                    </div>
                </figure>
            </div>
        </div>
    </div>
    

    <div id="footer"></div>
    <script>
        function loadHTML(id, file) {
            fetch(file)
                .then(response => {
                    if (!response.ok) throw new Error(`Failed to load ${file}`);
                    return response.text();
                })
                .then(data => {
                    document.getElementById(id).innerHTML = data;

                    // Execute any scripts inside the loaded HTML
                    const scripts = document.getElementById(id).getElementsByTagName('script');
                    for (let script of scripts) {
                        const newScript = document.createElement('script');
                        if (script.src) {
                            newScript.src = script.src;
                        } else {
                            newScript.textContent = script.textContent;
                        }
                        document.body.appendChild(newScript);
                    }
                })
                .catch(error => console.error(error));
        }

        loadHTML("navbar", "/src/component/Navbar.html");
        loadHTML("footer", "/src/component/Footer.html");

    </script>
</body>

</html>